.hero{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    background-image: url(https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80;)
} /*para llamar la clase hero*/ 

.text h1{
    
    font-size: 4rem;
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-top: 10%;
}

.text p{
    font-size: 1.5rem;
    color:white;
    text-align: left;
    padding-left: 5%;
    padding-top: 3%;
}