<app-header></app-header>
<app-hero></app-hero>
<div class="galeria">
  <h1>Conozca nuestas instalaciones</h1>
  <ul>
    <li>
      <a href="#">
        <img
          src="https://images.unsplash.com/photo-1590447158019-883d8d5f8bc7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <img
          src="https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <img
          src="https://images.unsplash.com/photo-1605346475807-2088e0897b2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <img
          src="https://images.unsplash.com/photo-1625244695851-1fc873f942bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <img
          src="https://images.unsplash.com/photo-1602081112620-4da569dda684?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
        />
      </a>
    </li>
  </ul>
</div>
<section class="experiencia">
  <div class="exp_texto">
    <h1>Vive la experiencia de lujo con nosotros</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
      quaerat temporibus a deserunt, inventore animi repudiandae, ipsum incidunt
      quia earum ipsa odit debitis quidem aliquam ullam nihil aut facere saepe!
    </p>
  </div>
  <img
    src="https://images.unsplash.com/photo-1625244695851-1fc873f942bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
    alt=""
  />
</section>

<app-footer></app-footer>
