<div class="example-container">
    <mat-table #table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="piso">
        <mat-header-cell *matHeaderCellDef> piso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.piso}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="costo">
        <mat-header-cell *matHeaderCellDef> costo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costo}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editRow(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRow(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <app-edit-rooms></app-edit-rooms>
  